body {
    margin: 0%;
  font-family: 'Times New Roman', Times, serif;
  background-color: #5effcc;
  color: #ffffff;
  line-height: 1.7;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.header {
  margin-bottom: 40px;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  color: #000000;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.4rem;
  color: #000000f8;
  border-left: 5px solid hsl(0, 0%, 0%);
  padding-left: 12px;
  margin-bottom: 15px;
}

.section-label {
  text-align: center;
  font-weight: bold;
  color: #0800ff;
  margin-bottom: 10px;
}

.text {
    color: rgb(0, 0, 0);
  margin-bottom: 15px;
  text-align: justify;
}

.highlight {
  color: #1300be;
  font-weight: bold;
}

.terminal-image {
  display: block;
  margin: 20px auto;
  filter: drop-shadow(0 0 12px rgba(88, 166, 255, 0.5));
}

.code-block {
  background-color: hsl(0, 5%, 88%);
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
  overflow-x: auto;
}

.code-block code {
  color: #0a0a0a;
  font-size: 0.95rem;
}

.steps {
  color: #000000;
  margin-bottom: 15px;
}

.step {
  margin-bottom: 5px;
}

.footer {
        margin: 0%;
  border: 5px solid #000000;
  padding-top: 15px;
  padding: 10px;
}

.footer-text {
  font-size: 0.9rem;
  color: #000000;
}
